.container{
    /* width: 250px;
    height: 300px;
    border: solid black;
    display: flex;
    justify-content: flex-end; */
    margin: 10px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    height: 400px;
    background-color: rgb(110, 116, 116);
    opacity: 0.9;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   text-decoration: none;
}
.container:hover{
    background-color: rgb(81, 109, 109);
    opacity: 1;
}

.name{
    text-decoration:none;
font-size: medium;
color: rgb(1, 41, 27);
font-family: fantasy;
 
}

.img{
    margin-top: 0%;
min-width: 230px;
max-width: 230px;
min-height: 130px;
max-height: 130px;
}

.healthscore{
    text-decoration:none;
    font-size: small;
    color: rgb(1, 41, 27);
    font-family: fantasy;
    margin-bottom: 1%;
}
 
.ul{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 230px;
    margin-right: 50px;
    padding: 0%;
}

.diets{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    text-decoration: none;
    color: rgb(1, 41, 27);
}